<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link href="css/style.css" rel="stylesheet"/>
</head>
<body th:inline="text">

<div class="container">
    <th:block th:include="fragments/header :: header"></th:block>
    <div class="starter-template">
        <h1>Web Application Forum. You can authorization and add themes and comments on forum</h1>
        <p>This application create with such technologies:</p>
        <ul>
            <li>Spring Boot, Security</li>
            <li>Hibernate, MySQL</li>
            <li>CSS, JavaScript, JQuery, BootStrap</li>
            <li>thymeleaf</li>
        </ul>
    </div>

</div>

<div th:replace="fragments/footer :: footer"/>
<th:block th:include="fragments/headerinc :: head"></th:block>

</body>
</html>