<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PhoneBook - Sign in</title>
    <script src="js/vendor/jquery-3.1.1.min.js"></script>
    <link href="css/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="css/vendor/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">


</head>
<body>

<div class="container login">
    <form class="form-sign-in" action="login" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="username">Username*</label>
        <input name="username" id="username" class="form-control" placeholder="Username" required autofocus>

        <label for="password">Password*</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
        <!--<input type="password" name="password" id="password" class="form-control" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" required>-->

        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign in">

        <p class="text-center">You are not registered?<a href="/registration">Sign up</a></p>
    </form>
</div>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/vendor/jquery.json.js"></script>
<script src="js/app.js"></script>
</body>
</html>