<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PhoneBook - Sign up</title>
    <link href="css/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="css/vendor/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>

<div class="form-style-5">

    <form class="form-registration" id="registration-form" action="registration" method="post">
        <h2 class="form-registration-heading">Please registration</h2>

        <label for="username">Username*</label>
        <input type="text" name="username" id="username" class="form-control" placeholder="Username" required autofocus>
        <label for="firstname">First name*</label>
        <input type="text" name="firstname" id="firstname" class="form-control" placeholder="First name" required>

        <label for="lastname">Last name*</label>
        <input type="text" name="lastname" id="lastname" class="form-control" placeholder="Last name" required>

        <label for="middlename">Middle name*</label>
        <input type="text" name="middlename" id="middlename" class="form-control" placeholder="Middle name" required>

        <label for="password">Password*</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>

        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign in">

        <p class="text-center">You are registered?<a href="/login">Sign in</a></p>
    </form>
</div>
<script src="js/vendor/jquery-3.1.1.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/vendor/jquery.json.js"></script>
<script src="js/app.js"></script>

</body>
</html>